@charset "utf-8";
/*=== 青绿 ===*/
a{
    color:#267872;
}
.user-info .user-url {
	color:#267872;
}
.icon{
    background-image:url(../img/icon_skin_8.gif);
}
.select-arrow,.select-big .tui-select-arrow, .select .tui-select-arrow,.app-info .pagination a{
    background-image:url(../img/icon_skin_8.gif);
}
input.text-hover,
textarea.text-hover{
	border-color:#165e59;
}
.select-hover{
	border-color:#165e59;
}
.select-big .option,
.option{
	border-color:#165e59;
}
.option-item-hover{
	background-color:#e7f3f2;
}
.tui-select-hover, .tui-select-expand {
	border-color:#165e59
}
.option .tui-select-option-hover {
	background-color:#e7f3f2;
}
.navigation{
	background-color:#267872;
}
.navigation a:hover,
.navigation a.current{
	background:#165e5a;
}
.sidebar a{
    color:#267872;
}
.sidebar a:hover{
    background-color:#c9dedd;
}
.sidebar .current a,
.sidebar .current a:hover{
    background-color:#165e5a;
}
.tabs{
	border-bottom-color:#7fb6b2;
}
.tabs a{
	border-color:#7fb6b2;
	background-color:#cee8e6;
}
.tabs a:hover{
    background-color:#def3f1;
}
.line{
    border-top-color:#7fb6b2;
}
.toolbar{
    background-color:#bae2db;
    border-bottom-color:#69afa8;
}
.window-header{
    border-color:#165e5a;
    background-color:#267872;
}
.window-body{
    border-color:#165e5a;
}
.window-footer{
    border-color:#165e5a;
    background-color:#e7f3f2;
}
.window-nofooter .window-body{
	border-bottom-color:#165e5a;
}
.functional-block a{
	background-color:#267872;
}
.functional-block a:hover{
	background-color:#36958f;
}
.security-level{
    background-color:#def3f1;
	/*border-color:#7fb6b2;*/
}
.app-box{
    background-color:#def3f1;
	/*border-color:#7fb6b2;*/
}
.app-info-header{
	border-bottom-color:#267872;
}
.setstate-box{
	border-top-color:#7fb6b2;
}
.skinsetting div.skin_select{
    border-color:#7fb6b2;
}

#datepick-div{
    border-color:#566732;
}
.datepick-control{
    background-color:#566732;
}
.datepick-header,
.datepick-header select{
    background-color:#d9e5c1;
}

.option-menu{
    border-color:#69afa8;
}
.option-menu .menu-over{
    background:#d0eae5;
}
.option-menu .menu-step{
    border-top-color:#ccc;
}
.option-menu .menu-square{
    background-color:#000;

}
/*======实名上传窗口=========*/
.realwin{
    color: #267872;
}
.realwin .line-solid{
    border-top-color: #7FB6B2;
}
.realwin .preview-box img{
    border-color: #165E5A;
}