[production]
phpSettings.error_reporting = E_ALL
phpSettings.display_errors = 0
phpSettings.error_log = WWW_ROOT "/logs/error-www.tudu.com.log"

bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
autoloaderNamespaces[] = "Oray_"
autoloaderNamespaces[] = "Dao_"
autoloaderNamespaces[] = "Tudu_"
autoloaderNamespaces[] = "TuduX_"
autoloaderNamespaces[] = "Model_"
pluginpaths.Oray_Application_Resource = "Oray/Application/Resource"

resources.frontController.controllerDirectory.default = APPLICATION_PATH "/controllers"
resources.frontController.controllerDirectory.foreign = APPLICATION_PATH "/modules/foreign/controllers"
resources.frontController.controllerDirectory.public  = APPLICATION_PATH "/modules/public/controllers"
resources.frontController.params.displayExceptions    = 0

resources.multidb.md.adapter  = "pdo_mysql"
resources.multidb.md.default  = 1
resources.multidb.md.charset  = "utf8"
resources.multidb.md.host     = "127.0.0.1"
resources.multidb.md.port     = "3306"
resources.multidb.md.username = ""
resources.multidb.md.password = ""
resources.multidb.md.dbname   = "tudu-md"

resources.multidb.ts1.adapter  = "pdo_mysql"
resources.multidb.ts1.charset  = "utf8"
resources.multidb.ts1.host     = "127.0.0.1"
resources.multidb.ts1.port     = "3306"
resources.multidb.ts1.username = ""
resources.multidb.ts1.password = ""
resources.multidb.ts1.dbname   = "tudu-ts"

; Database app
resources.multidb.app.adapter  = "pdo_mysql"
resources.multidb.app.charset  = "utf8"
resources.multidb.app.host     = "127.0.0.1"
resources.multidb.app.port     = "3306"
resources.multidb.app.username = ""
resources.multidb.app.password = ""
resources.multidb.app.dbname   = "tudu-app"

resources.memcache.compression = 1
resources.memcache.compatibility = 1
resources.memcache.servers.host = "127.0.0.1"
resources.memcache.servers.port = "11211"
resources.memcache.servers.timeout = 10

resources.session.name          = sid
resources.session.cookie_domain = HOST
resources.session.save_path     = "/tmp"
resources.session.save_handler  = files

resources.log.file.writerName          = "Stream"
resources.log.file.writerParams.stream = WWW_ROOT "/logs/error-www.tudu.com.log"

; Views - Smarty
smarty.template_dir     = APPLICATION_PATH "/views/templates"
smarty.compile_dir      = APPLICATION_PATH "/../../../data/caches/tpl/www.tudu.com"
smarty.left_delimiter   = "{{"
smarty.right_delimiter  = "}}"

; 域名
tudu.domain = HOST

; Sites
sites.www    = PROTOCOL "//" HOST
sites.static = PROTOCOL "//" HOST
sites.admin  = PROTOCOL "//" HOST "/admin"
sites.file   = PROTOCOL "//" HOST

; Cookies
cookies.username = "username"
cookies.server   = "server"
cookies.track    = "track"
cookies.auth     = "auth"

; Tudu login request ssl
tudu.ssl = false

; Tudu system lebel
tudu.label.inbox      = ^i
tudu.label.drafts     = ^r
tudu.label.todo       = ^a
tudu.label.starred    = ^t
tudu.label.sent       = ^f
tudu.label.forwarded  = ^w
tudu.label.ignore     = ^g
tudu.label.notice     = ^n
tudu.label.discuss    = ^d
tudu.label.meeting    = ^m
tudu.label.review     = ^e
tudu.label.reviewed   = ^v
tudu.label.done       = ^o
tudu.label.all        = ^all

; Upload
upload.path          = APPLICATION_PATH "/../../../upload"
upload.sizelimit     = 2048000000
upload.cgi.upload    = "/attachment/upload"
upload.cgi.download  = "/attachment/download"
upload.cgi.swfupload = "/images/swfupload.swf"

; Avatar
avatar.tempdir   = "/tmp"
avatar.sizelimit = 2097152
avatar.width     = 80
avatar.height    = 80

; Cache
cache.prefix.org    = TUDU-ORG-
cache.prefix.user   = TUDU-USER-
cache.prefix.access = TUDU-ACCESS-

seccode.fontPath         = APPLICATION_PATH "/../../../data/fonts"
seccode.dataPath         = APPLICATION_PATH "/../../../data/seccode"
seccode.image.background = true
seccode.image.angle      = true
seccode.image.shadow     = true
seccode.image.adulterate = true
seccode.image.ttf        = true

; Httpsqs
httpsqs.host = "127.0.0.1"
httpsqs.port = "12181"
httpsqs.chartset = "utf-8"
httpsqs.name = "im"

; Sphinx
sphinx.host 		   = 127.0.0.1
sphinx.port 		   = 9312
sphinx.indexes.tudu    = tudu_main
sphinx.indexes.tuduinc = tudu_inc

; Data
data.path = APPLICATION_PATH"/../../../data"

; Api
api.tudu.url = "http://api.tudu.com"

[staging : production]

[testing : production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0

[development : production]
phpSettings.error_reporting = E_ALL
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0

